#body {
    
}

.content {
    position: absolute;
width: 1920px;
height: 700px;
left: 0px;
top: -7px;

background: #EEEFF1;
}

.logo {
    position: absolute;
width: 96px;
height: 60px;
left: 402px;
top: 50px;

font-family: Revalia;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 60px;


text-align: center;

color: #34547A;

}

.main {
    position: absolute;
width: 84px;
height: 12px;
left: 896px;
top: 72px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
letter-spacing: 0.1em;

/* Accent */

color: #34547A;
}
.header {
    position: absolute;
width: 1000px;
height: 16px;
left: 1022px;
top: 72px;
padding-left: 42px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
letter-spacing: 0.1em;

color: #000000;

}
.notebook {
    position: absolute;
width: 357px;
height: 233.7px;
left: 487px;
top: 271px;
}
.design {
    position: absolute;
width: 541px;
height: 45px;
left: 974px;
top: 250px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 79px;

color: #000000;

}
.text {
    position: absolute;
width: 540px;
height: 67px;
left: 975px;
top: 355px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;

color: #727272;
}

.button {
position: absolute;
width: 225px;
height: 65px;
left: 975px;
top: 482px;
}
a.knopka {
    color: #fff;
    text-decoration: none;
    text-align: center;
    background:#34547A;
    padding: 15px 15px; /* отступ от текста */
   width: 190px;
    height: 55px;
   left: 864px;
   top: 200px;

  }

.inf {
    position: absolute;
width: 403px;
height: 30px;
left: 758px;
top: 712px;
padding-top: 119px;


font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 37px;
text-align: center;

color: #000000;

}

.fish {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    
    color: #727272;
}

.project{
    position: absolute;
width: 1920px;
height: 250px;
left: 0px;
margin-top: 1200px;

/* Accent */

background: #34547A;
}
  h3.myskils {
background: #E5E5E5;
padding-left: 150px;
border: 200px solid #E5E5E5;

}

.numbers {
padding-left: 405px;
border-top: 100px;
padding-top: 105px;
}

.myskils {
    background: #E5E5E5;
}

.foto{
    position: absolute;
    width: 555px;
    height: 450px;
    left: 981px;
    top: 1511px;
    
    background: url(photo-1508908324153-d1a219719814.jpg), #C4C4C4
}

.skils {
    position: absolute;
width: 403px;
height: 30px;
left: 386px;
top: 1513px;

/* h2 */

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 37px;

color: #000000;

  }

.level {
    position: absolute;
width: 128px;
height: 15px;
left: 387px;
top: 1593px;

/* p */

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;

color: #727272;

}


.white {
    position: absolute;
width: 445px;
height: 4px;
left: 0px;
top: 50px;

background: #C4C4C4;
}

.blue {
    position: absolute;
width: 349.36px;
height: 4px;
left: 0px;
top: 50px;

/* Accent */

background: #34547A;
transform: rotate(-0.06deg);
}

.adobe1 {
    position: absolute;
width: 128px;
height: 15px;
left: 0px;
top: 70px;

/* p */

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;

color: #727272;
}

.white1 {
    position: absolute;
width: 445px;
height: 4px;
left: 0px;
top: 120px;

background: #C4C4C4;
}

.blue1 {
    position: absolute;
width: 349.36px;
height: 4px;
left: 0px;
top: 120px;

/* Accent */

background: #34547A;
transform: rotate(-0.06deg);
}

.adobe2 {
    position: absolute;
    width: 128px;
    height: 15px;
    left: 0px;
    top: 140px;
    
    /* p */
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    
    color: #727272;
}

.white2 {
    position: absolute;
width: 445px;
height: 4px;
left: 0px;
top: 190px;

background: #C4C4C4;
}

.blue2 {
    position: absolute;
width: 349.36px;
height: 4px;
left: 0px;
top: 190px;

/* Accent */

background: #34547A;
transform: rotate(-0.06deg);
}

.work {
    position: absolute;
width: 1920px;
height: 1004px;
left: 0px;
top: 2061px;

/* Silver */

background: #EEEFF1;
}

h4 {
    position: absolute;
width: 403px;
height: 30px;
left: 758px;
top: 100px;

/* h2 */

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 37px;
text-align: center;

color: #000000;

}

.script {
    position: absolute;
width: 540px;
height: 67px;
left: 690px;
top: 200px;

/* p */

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
text-align: center;

color: #727272;
}

.video{
    position: absolute;
width: 1110px;
height: 600px;
left: 405px;
top: 357px;

background: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(photo-1514070706115-47c142769603.jpg);
}

.vector {
    position: absolute;
left: 47%;
right: 0%;
top: 60%;
bottom: 0%;



}

.picture {
    position: absolute;
width: 1920px;
height: 960px;
left: 0px;
top: 3100px;
    background: #E5E5E5;
}

.pictureone {
    position: absolute;
width: 480px;
height: 480px;
left: 0px;
top: 0px;

background: #C4C4C4
}

.picturetwo {
    position: absolute;
width: 480px;
height: 480px;
left: 480px;
top: 0px;

background: linear-gradient(0deg, rgba(52, 84, 122, 0.8), rgba(52, 84, 122, 0.8)), url(photo-1454165804606-c3d57bc86b40.jpg);
}

.picturethree {
    position: absolute;
width: 480px;
height: 480px;
left: 960px;
top: 0px;

background: url(photo-1542627250-da40d2d18228.jpg), #C4C4C4;
}

.picturefour {
    position: absolute;
width: 480px;
height: 480px;
left: 1440px;
top: 0px;

background: url(photo-1454165804606-c3d57bc86b40.jpg), #D8D8D8;
}

.picturefive {
    position: absolute;
width: 480px;
height: 480px;
left: 0px;
top: 480px;
}

.picturesix  {
    position: absolute;
width: 480px;
height: 480px;
left: 480px;
top: 480px;

background: url(photo-1542627250-da40d2d18228.jpg), #C4C4C4;
}

.pictureseven {
    position: absolute;
width: 480px;
height: 480px;
left: 960px;
top: 480px;

background: url(photo-1454165804606-c3d57bc86b40.jpg), #D8D8D8;
}

.pictureight {
    position: absolute;
width: 480px;
height: 480px;
left: 1440px;
top: 480px;

background: url(photo-1542627250-da40d2d18228.jpg), #C4C4C4;
}

.view {
    position: absolute;
width: 100px;
height: 100px;
left: 675px;
top: 200px;
}

.microsoft {
    position: absolute;
    width: 1920px;
    height: 300px;
    left: 0px;
    top: 4000px;
}

.rectagle9 {
    position: absolute;
width: 1110px;
height: 120px;
left: 405px;
top: 100px;
}

.webwant {
    position: absolute;
width: 1920px;
height: 762px;
left: 0px;
top: 4246px;

/* Silver */

background: #EEEFF1;
}

h5 {
    position: absolute;
width: 406px;
height: 30px;
left: 755px;
top: 100px;

/* h2 */

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 37px;
text-align: center;

color: #000000;
}
    
.textfish {
    position: absolute;
width: 540px;
height: 67px;
left: 690px;
top: 200px;

/* p */

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
text-align: center;

color: #727272;
}

p.program {
    padding-left: 150px;
}



.titles1 {
    position: absolute;
width: 255px;
height: 50px;
left: 690px;
top: 312px;
text-align: center;
color: #5F5D5D;

background: #FFFFFF;
}

.titles2 {
    position: absolute;
width: 255px;
height: 50px;
left: 975px;
top: 312px;
text-align: center;
color: #5F5D5D;

background: #FFFFFF;
}

.titles3 {
    position: absolute;
width: 540px;
height: 175px;
left: 690px;
top: 382px;
text-align: center;
color: #5F5D5D;

background: #FFFFFF;
}

.button2 {
    position: absolute;
width: 190px;
height: 55px;
left: 900px;
top: 600px;

}
a.knopka2 {
    color: #fff;
    text-decoration: none;
    text-align: center;
    background:#34547A;
    padding: 15px 15px; /* отступ от текста */
   width: 190px;
    height: 55px;
   left: 864px;
   top: 4853px;
  }
 
  .footer {
    position: absolute;
    width: 1920px;
    height: 151px;
    left: 0px;
    top: 5008px;
    
    /* Accent */
    
    background: #34547A;
  }

h6 {
    position: absolute;
width: 130px;
height: 19px;
left: 406px;
top: 5px;

/* h3 */

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 21px;
line-height: 25px;

color: #FFFFFF;
}

.protection {
    position: absolute;
    width: 193px;
    height: 12px;
    left: 406px;
    bottom: 15px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    
    color: #FFFFFF;
}

.vk {
    position: absolute;
left: 80%;
right: 389px;
top: 50%;
bottom: 19%;
}
